@{
    ViewData["Title"] = "Home Page";
}

<div>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BACH MAI Hospital</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-contact">
                    <span>TP. Hà Nội: 024 7106 6858 - 024 3872 3872</span>

                    <span>TP. Hồ Chí Minh: 028 7102 6789 - 093 180 6858</span>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/bv4.jpg" alt=" Logo" class="logo" />
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Chuyên khoa</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://localhost:44357/Patients/Create">Tạo hồ sơ khám Bênh</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Thành tựu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tin tức</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://localhost:7263/login">Đăng nhập</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="image-container">
        <div class="image-panel">
            <img src="~/images/niie.png" alt="Image 1">
        </div>
        <div class="image-panel">
            <img src="~/images/ssh.jpg" alt="Image 2">
        </div>
    </div>
     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - benhvienweb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
      <footer>
    <div>
        <h3>TP. Hà Nội</h3>
        <p><strong>Địa chỉ:</strong> 168 Phố Hoàng Như Tiếp, P. Bồ Đề, Q. Long Biên</p>
        <p><strong>Số điện thoại:</strong> 024 7106 6858, 024 3872 3872</p>
    </div>
    <div>
        <h3>TP. Hồ Chí Minh</h3>
        <p><strong>Địa chỉ:</strong> 28 Phổ Quang, Phường 2, Quận Tân Bình</p>
        <p><strong>Số điện thoại:</strong> 028 7102 6789, 093 180 6858</p>
    </div>
</footer>
    </body>
</div>
