<footer>
    <div>
        <h3>TP.Hồ Chí Minh </h3>
        <p><strong>Địa chỉ:</strong> 458/3F Nguyễn Hữu Thọ, P. Tân Hưng, Quận 7, TP.HCM</p>
        <p><strong>Số điện thoại:</strong> 19002039 </p>
    </div>
    <div>
        <h3>TP. Hồ Chí Minh</h3>
        <p><strong>Địa chỉ:</strong> 300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam</p>
        <p><strong>Số điện thoại:</strong> 1900 2039 </p>
    </div>
</footer>
