@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Form đăng nhập</title>
    <link rel="stylesheet" href="style.css"> </head>
<body>
    <form action="process.php" method="post"> <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>

        <button   
 type="submit">Đăng nhập</button>   

    </form>
</body>